.about {
  padding: 120px 0 60px;

  @media (width <=1080px) {
    padding: 50px 0;
  }

  @media (width <=620px) {
    padding: 30px 0;
  }

  &__container {
    display: flex;
    justify-content: space-between;
    gap: 20px;

    @media (width <=900px) {
      flex-direction: column;
    }
  }

  &__content {
    flex-basis: 750px;

    @media (width <=1080px) {
      flex-basis: 50%;
    }

    @media (width <=900px) {
      flex-basis: auto;
    }
  }

  &__title {
    font-weight: 600;
    font-size: 52px;
    margin-bottom: 32px;

    @media (width <=1080px) {
      font-size: 40px;
      margin-bottom: 24px;
    }

    @media (width <=900px) {
      max-width: 370px;
    }

    @media (width <=620px) {
      max-width: 340px;
      font-size: 28px;
      margin-bottom: 16px;
    }
  }

  &__description {
    font-size: 20px;

    @media (width <=1080px) {
      font-size: 18px;
    }

    @media (width <=620px) {
      font-size: 16px;
    }
  }

  &__picture {
    flex-basis: 530px;

    @media (width <=1080px) {
      flex-basis: 50%;
    }


  }

  &__img {
    @media (width <=900px) {
      width: 100%;
    }
  }
}