.footer {
  padding: 40px 0;
  background-color: #101010;
  line-height: 1.4;

  @media (width <=900px) {
    padding: 32px 0;
  }

  &__container {
    display: grid;
    grid-template-areas:
      "developers logo"
      "copyrigt logo";
    gap: 36px;

    @media (width <=900px) {
      font-size: 12px;
    }

    @media (width <=620px) {
      grid-template-areas: "logo"
        "developers"
        "copyrigt";
    }
  }

  &__developers {
    grid-area: developers;
  }

  &__developer:not(:last-child) {
    margin-bottom: 7px;
  }

  &__link {
    transition: color 0.36s;

    &:hover {
      color: #ff521b;
      transition: color 0.36s;
    }
  }

  &__copyrayte {
    grid-area: copyrigt;
  }

  &__logo {
    grid-area: logo;
    justify-self: end;
    align-self: end;
    width: 287px;

    @media (width <=900px) {
      width: 217px;
    }

    @media (width <=620px) {
      justify-self: start;
    }
  }
}