.trailers {
  padding: 60px 0 120px;

  @media (width<=1080px) {
    padding: 50px 0 100px;
  }

  @media (width<=900px) {
    padding: 40px 0 80px;
  }

  @media (width<=620px) {
    padding: 30px 0 60px;
  }

  &__container {
    @media (width<=620px) {
      padding: 0;
    }
  }

  &__buttons {
    display: flex;
    gap: 12px;
    align-items: center;
    padding-bottom: 16px;

    @media (width<=900px) {
      gap: 8px;
    }

    @media (width<=620px) {
      padding: 0 16px;
      overflow-x: scroll;
      scrollbar-width: none;
      -ms-overflow-style: none;
      margin-bottom: 12px;

      &::-webkit-scrollbar {
        display: none;
      }
    }
  }

  &__item-button {}

  &__button {
    font-weight: 600;
    font-size: 14px;
    text-transform: uppercase;
    color: $white;
    border-radius: 8px;
    padding: 14px 20px;
    background-color: #272928;
    white-space: nowrap;

    @media (width<=900px) {
      font-size: 12px;
      padding: 10px 16px;
    }

    &:hover,
    &:focus {
      background-color: #ff521b;
    }

    &_active {
      background-color: #ff3d00;
    }
  }

  &__list {
    @media (width<=620px) {
      padding: 0 16px;
    }
  }

  &__item {}

  &__wrapper {
    display: none;
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
  }

  &__video {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
  }
}